body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont{
    width: 60%;
}

.conteudo{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    background-color: #b9b9b9;
    margin: 15px;
}

.conteudo h5{
    text-align: center;
}

